.main-wishlist {
    display: flex;
    justify-content: space-evenly;
}

.container-wishlist-head {
    display: flex;
    width: 25%;
    margin-right: 4rem;
}

.header-wishlist {
    color: var(--gray-mild);
}

.section-wishlist {
    display: flex;
    flex-wrap: wrap;
}

.star-rating {
    font-size: 1.5rem;
}

.overlay-content {
    width: 95%;
    z-index: 2;
}

.img-content-horizontal {
    display: flex;
    font-size: 2rem;
    color: var(--white);
    z-index: 3;
    position: absolute;
    margin-top: 0.6rem;
    margin-left: 45rem;
}